<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">

    <http pattern="/static/**" security="none"/>

    <http auto-config="true">
        <intercept-url pattern="/" access="permitAll" />
        <intercept-url pattern="/home" access="permitAll" />
        <intercept-url pattern="/login*" access="permitAll" />
        <intercept-url pattern="/admin/**" access="hasRole('ADMIN')"/>
        <intercept-url pattern="/db/**" access="hasRole('ADMIN') and hasRole('DBA')"/>

        <form-login
                login-page="/login"
                default-target-url="/home"
                authentication-failure-url="/login?error"
                username-parameter="ssoId"
                password-parameter="password"/>

        <logout logout-success-url="/login?logout"/>

        <access-denied-handler error-page="/Access_Denied" />

        <!-- enable csrf protection -->
        <csrf/>
    </http>

    <authentication-manager>
        <authentication-provider>
            <user-service>
                <user name="xman" password="123456" authorities="ROLE_USER"/>
                <user name="admin" password="123456" authorities="ROLE_ADMIN"/>
                <user name="dba" password="123456" authorities="ROLE_ADMIN, ROLE_DBA"/>
            </user-service>
        </authentication-provider>
    </authentication-manager>

</beans:beans>